CLIENT_ID = ""
CLIENT_SECRET = ""
AUTHORITY = "https://login.microsoftonline.com/[your_tenant_name_or_id]"
REDIRECT_PATH = "/auth"
SCOPE = "User.ReadBasic.All"
SESSION_TYPE = "filesystem"  # Specifies the token cache should be stored in server-side session
HOST_URL = "http://localhost:8000" # Double check this is the URL for your enviornment.